<% @issue.subject = SecureRandom.uuid if @issue.subject.blank? %>
<%= labelled_fields_for :issue, @issue do |f| %>
<%= call_hook(:view_issues_form_details_top, { :issue => @issue, :form => f }) %>

<% if @issue.safe_attribute? 'is_private' %>
<p style="float:right; margin-right:1em;">
  <%= f.check_box :is_private, :no_label => true %><label class="inline" for="issue_is_private" id="issue_is_private_label"><%= l(:field_is_private) %></label>
</p>
<% end %>

<% if @issue.safe_attribute? 'project_id' %>
<p><%= f.select :project_id, project_tree_options_for_select(@issue.allowed_target_projects, :selected => @issue.project), {:required => true},
                :onchange => "updateIssueFrom('#{escape_javascript project_issue_form_path(@project, :id => @issue, :format => 'js')}')" %></p>
<% end %>

<% if @issue.safe_attribute?('tracker_id') && !executor_editing?(@issue) %>
<p>
  <%= f.select :tracker_id, available_trackers(@project).collect {|t| [t.name, t.id]}, {:required => true},
               :onchange => "updateIssueFrom('#{escape_javascript project_issue_form_path(@project, :id => @issue, :format => 'js')}')" %>
  <%= f.select :corellation_act_type, options_for_select( [0,1].map{ |x| [t(:corellation_act_types)[x], x ] }, @issue.corellation_act_type) %>
</p>
<% [13, 31, 32, 33, 34].each do |cf_id| %>
  <% value = @issue.editable_custom_field_values.find{ |x| x && x.custom_field.id == cf_id } %>
  <% if value %>
    <p style='display: none' id="cf_<%= value.custom_field.id %>"><%= custom_field_tag_with_label :issue, value, :required => @issue.required_attribute?(value.custom_field_id) %></p>
  <% end %>
<% end %>

<% end %>
<div style='display:none'>
<% if @issue.safe_attribute? 'subject' %>
<p><%= f.text_field :subject, :size => 80, :maxlength => 255, :required => true %></p>
<% end %>
</div>

<% if @issue.safe_attribute? 'description' %>
<p>
  <%= f.label_for_field :description, :required => @issue.required_attribute?('description') %>
  <%= link_to_function image_tag('edit.png'), '$(this).hide(); $("#issue_description_and_toolbar").show()' unless @issue.new_record? %>
  <%= content_tag 'span', :id => "issue_description_and_toolbar", :style => (@issue.new_record? ? nil : 'display:none') do %>
    <%= f.text_area :description,
                   :cols => 60,
                   :rows => (@issue.description.blank? ? 10 : [[10, @issue.description.length / 50].max, 100].min),
                   :accesskey => accesskey(:edit),
                   :class => 'wiki-edit',
                   :no_label => true %>
  <% end %>
</p>
<%= wikitoolbar_for 'issue_description' %>
<% end %>
<div id="attributes" class="attributes">
  <%= render :partial => 'issues/attributes' %>
</div>

<%= call_hook(:view_issues_form_details_bottom, { :issue => @issue, :form => f }) %>
<% end %>

<% heads_for_wiki_formatter %>

<%= javascript_tag do %>
$(document).ready(function(){
  $("#issue_tracker_id, #issue_status_id").each(function(){
    $(this).val($(this).find("option[selected=selected]").val());
  });

  function setDefaultAssignee() {
    tracker_id = $('#issue_tracker_id').val();
    var trackerIdToAssigneeId = JSON.parse("<%= tracker_id_to_assignee_id.html_safe %>");
    assignedTo = $('#issue_assigned_to_id');
    if (assignedTo.val() == '')
    {
      $('#issue_assigned_to_id').val(trackerIdToAssigneeId[tracker_id]);
    }
  }

  setDefaultAssignee();

  function setCorellationActThings() {
    var icat = $('#issue_corellation_act_type');

    tracker_id = $('#issue_tracker_id').val();
    console.log('tracker_id = ' + tracker_id);
    if (tracker_id == '4') {
      icat.show();
    }
    else
    {
      icat.hide();
    }
  }

  setCorellationActThings();

  function setCorActType(){
    var icat = $('#issue_corellation_act_type');
    var val13 = $('#cf_13');
    var val14 = $('#cf_14');
    var val15 = $('#cf_15');
    var val31 = $('#cf_31');
    var val32 = $('#cf_32');
    var val33 = $('#cf_33');
    var val34 = $('#cf_34');

    val32.show();
    val34.show();

    if (icat.val() == '1') {
      val13.show();
      val33.hide();
    }
    else
    {
      val13.hide();
      val33.show();
    }
    visibleVals = $('select.list_cf:visible');
    if ( visibleVals.length && (visibleVals.val() == 'Остаток задолженности на конкретную дату') )
    {
      val31.show();
      val14.hide();
      val15.hide();
    }
    else
    {
      val31.hide();
      val14.show();
      val15.show();
    }
  }

  setCorActType();
  $('#issue_corellation_act_type').change(setCorActType);
  $('select.list_cf').change(setCorActType);


});
<% end %>
